---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Layout from "./Layout.astro";
import { fade } from 'astro:transitions';

type Props = CollectionEntry<"blog">["data"];

const { title, description, pubDate, heroImage, id } = Astro.props;

const anim = {
  old: {
    name: 'fadeIn',
    duration: '0.1s',
    easing: 'linear',
    fillMode: 'forwards',
  },
  new: {
    name: 'fadeIn',
    duration: '0.1s',
    easing: 'linear',
    fillMode: 'forwards',
  }
};

const myFade = {
  forwards: anim,
  backwards: anim,
};

---

<Layout>
  <main>
    <article transition:name=`box${id}` transition:animate="none">
      <header>
        <img
          transition:name=`img${id}`
          src={heroImage}
          alt="Technology Logo"
          transition:animate="none"
        />
        <h1 transition:name=`title${id}` transition:animate={myFade} >
          {title}
        </h1>
      </header>
      <div class="prose">
        <div class="date">
          <FormattedDate date={pubDate} />
        </div>
        <hr />
        <slot />
      </div>
    </article>
  </main>
</Layout>

<style>
  main {
    width: 100%;
    max-width: 800px;
  }

  article {
    margin-top: 3rem;
  }

  header {
    display: flex;
    gap: 1rem;
    align-items: center;
  }

  img {
    width: 200px;
  }

  h1 {
    font-size: 3rem;
  }

  .prose {
    width: 720px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 1em;
    color: #fff;
  }

  .date {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 0.5em;
  }
  .last-updated-on {
    font-style: italic;
  }
</style>
